.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lol {
  padding: 10px 20px;
  background-image: url(./image/Без\ имени.jpeg);
  background-repeat: no-repeat;
}
